body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f8f8f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/todo-bg5.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.task-container {
    padding: 0px 10px;
    width: 350px;
}

h1 {
    text-align: center;
}
